@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

/* :root { */
  /* @apply bg-gray-50 */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

.hov-standrd {
  @apply transition duration-200 ease-in-out hover:cursor-pointer
}

.box-main {
  @apply shadow-lg rounded outline outline-1 outline-gray-300
}

.box-support {
  @apply shadow-sm rounded outline outline-1 outline-gray-300
}

.job-listing-tease {
  @apply grid grid-rows-[auto] w-[500] h-fit relative rounded shadow-md outline outline-1 outline-gray-300 ml-5 hover:bg-purple-100;
}

.top-jb-li {
  @apply flex justify-between
}

.jb-li-mt-heart {
  @apply mr-4 text-4xl
}

.sm-grey-txt {
  @apply text-[10px] font-extralight text-gray-500 ml-2 mt-2;
}

.sm-blck-txt {
  @apply text-xs font-extralight text-black ml-2;
}

.listing-title {
  @apply text-xl transition duration-1000 ease-in-out ml-2 font-semibold text-wrap w-11/12 leading-5 mt-2
}

.cmpny-info-li {
  @apply flex items-center w-fit hover:underline mt-1
}

.cmpny-rtng {
  @apply text-xs font-extralight text-black ml-3
}

.jb-li-dtls {
  @apply grid grid-cols-3 w-4/6 ml-2 mt-4 gap-3
}

.jb-li-dtl {
  @apply rounded-sm shadow-md bg-gray-200 pt-1
}

.jb-li-dtl-title {
  @apply text-xs font-semibold text-black ml-1
}

.jb-li-dtl-desc {
  @apply text-[13px] font-medium ml-2
}

.jb-li-desc {
  @apply ml-2 mt-6 text-base line-clamp-4 w-11/12
}

.jb-li-desc-vewmr {
  @apply ml-2 text-base w-fit text-purple-500 underline
}

.jb-li-sklls-sect {
  @apply flex w-11/12 mt-4
}

.jb-li-skl-cntnr {
  @apply flex overflow-x-scroll whitespace-nowrap w-full
}

.jb-li-skl {
  @apply rounded-full shadow-md whitespace-nowrap w-fit text-center bg-gray-200 ml-4 text-sm pt-1 pb-1 pl-2 pr-2 mb-4 mt-4 first:ml-2
}

.div-container-for-middle-align {
   @apply relative min-h-dvh flex flex-col justify-center items-center overflow-auto
}

.no-scrll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rght-arrw {
  @apply text-4xl m-auto ml-4
}

.perspective-1000 {
  perspective: 1000px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-textfield-decoration-container > * {
  display: none !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-textfield-decoration-container > * {
  display: none !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Placeholder styles for tiptap */
  /* Placeholder shows whenever editor is empty, focus or not */
  .ProseMirror.is-editor-empty::before {
    content: attr(data-placeholder);
    color: #999;
    position: absolute;
    pointer-events: none;
    height: 0;
    top: 0;
    left: 1rem;
    user-select: none;
  }

  /* Remove default focus outline on editor */
  .ProseMirror:focus {
    outline: none;
    box-shadow: none;
  }

  /* Hide default scrollbar but keep scrolling */
.form-scroll::-webkit-scrollbar {
  width: 6px;
}

.form-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.form-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.form-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}


/* apply css */
.apply-main-divs {
  @apply flex items-center w-screen justify-around h-screen max-h-screen overflow-hidden
}

.company-overview-cntnr {
  @apply w-1/3 bg-white
}

.proposal-section {
  @apply w-1/2 h-screen overflow-y-scroll p-1 bg-white
}

.proposal-section::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.proposal-support-section {
  @apply w-full h-fit overflow-hidden mb-8 first:mt-6
}

.proposal-supp-sect-ttle {
  @apply ml-5 text-xl font-semibold pt-4
}

.apply-opts {
  @apply flex items-center justify-around w-5/6 mb-4 ml-5 mt-6
}

.resume-apply-option {
  @apply ring-2 ring-purple-600 rounded-md w-5/12 p-1 shadow-lg hover:bg-gray-50
}

.manual-apply-box {
  @apply ring-1 ring-gray-300 rounded-md w-5/12 p-1 shadow-sm hover:bg-gray-50
}

.resume-select-upper {
  @apply flex justify-between border-b border-b-gray-300 h-12 items-center mb-2
}

.title-resume-apply-opt {
  @apply ml-3 text-lg
}

.under-manual-apply-title {
  @apply text-sm text-gray-400 ml-3 mt-1
}

.comp-overview-in-prop-upper {
  @apply flex justify-between items-center border-b border-b-gray-300 mb-4 h-10
}

.comp-name-in-over-prop-upper {
  @apply text-lg ml-3
}

.reviews-in-comp-over-prop-upper {
  @apply text-sm text-gray-500 mr-3
}

.about-title-comp-over-prop {
  @apply font-semibold ml-3 mb-2
}

.about-desc-comp-over-prop {
  @apply ml-3 text-gray-700 mb-4 w-11/12
}

.jb-title-in-prop {
  @apply font-semibold text-lg ml-5 self-end leading-none
}

.posted-date-in-prop {
  @apply text-sm text-gray-400 ml-6 self-end leading-none
}

.title-for-jb-in-prop {
  @apply flex items-end h-11 mb-4
}

.jb-desc-in-prop {
  @apply ml-5 relative w-11/12 text-gray-700 line-clamp-3 overflow-hidden text-ellipsis
}

.more-in-prop-jb-desc {
  @apply ml-5 text-purple-600 underline mb-6 w-fit
}

.view-listing-in-prop {
  @apply ml-5 text-sm text-purple-600 underline w-fit
}

.choose-hrly-rate {
  @apply flex ml-5 justify-between w-4/5 mb-4 items-center mt-5 relative h-20
}

.your-rate-in-prop {
  @apply absolute top-0 left-0 text-sm text-gray-400
}

.input-hrly-rate {
  @apply border border-gray-700 rounded-md pr-2 focus:outline-purple-600 h-10 text-end
}

.client-budget-in-prop {
  @apply absolute top-0 right-0 text-sm text-gray-400
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.work-samples-div-in-prop {
  @apply flex mb-6 justify-around
}

.add-another-work-sample {
  @apply ml-auto grid mr-auto w-[224px] h-[126px] border border-gray-400 rounded-md
}

.btn-work-sample-add-in-prop {
  @apply flex text-sm m-auto border border-gray-300 shadow-sm rounded h-8 items-center pl-1 w-11/12 hover:bg-gray-100
}

.add-education-btn-prop {
  @apply flex border border-gray-300 pt-1 pb-1 rounded shadow-sm w-40 justify-around hover:bg-gray-100
}

.cover-letter-text-field {
  @apply w-5/6 h-32 block m-auto mb-6 pr-2 max-h-32 focus:outline-purple-600 resize-none pl-2 border-2 border-gray-400 rounded hover:border-purple-600
}

.client-question-div-in-prop {
  @apply mt-5 w-5/6 ml-5 pt-2 overflow-hidden last:mb-6 shadow
}

.option-in-client-question-prop {
  @apply border w-28 h-8 ml-5 mt-5 mb-5 rounded shadow-md hover:bg-gray-100 active:bg-gray-300
}

.answer-to-cient-question-text-field {
  @apply w-11/12 h-32 mb-5 max-h-32 block ml-auto mr-auto mt-5 resize-none border-2 focus:outline-purple-600 hover:border-purple-600 rounded border-gray-400 pl-2 pr-2
}

.send-proposal-btn {
  @apply bg-purple-600 rounded pl-6 pr-6 pt-2 pb-2 text-white font-semibold mr-12 mb-12 hover:bg-purple-500
}

.cancel-proposal-btn {
  @apply text-purple-600 hover:text-purple-500
}

.question-title-in-prop {
  @apply text-lg ml-5
}