.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: pretty;
  }

  h1,

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af; /* gray-400 */
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.95rem;
  pointer-events: none;
  display: block;
}

/* Hide TipTap's default placeholder style */
.ProseMirror p[data-placeholder]::before {
  content: none !important;
}
